DATABASE_URL="mysql://rackmap:rackmap@127.0.0.1:3306/rackmap"
RACKTABLES_API_URL="http://localhost:8000"
RACKTABLES_RACKS_PATH="/v1/racktables/racks/"
RACKTABLES_LOCATIONS_ROWS_PATH="/v1/racktables/locations/rows"
# RACKTABLES_API_TOKEN=""
